/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/

.course-lesson-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-advance-start .btn-join {
    background-color: #06e490 !important;
}

.coins {
    display: flex;
    align-items: center;
}

.coins img {
    width: 15px;
    margin-left: 4px;
}

.user-details .data {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 4px;
}

.user-coins, .user-points {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user-points {
    margin-left: 4px;
}

.user-coins img, .user-points img {
    width: 10px;
}

.user-coins span, .user-points span {
    font-size: 12px;
    margin-left: 4px;
}

.lesson-blocked:before {
    content: '';
    filter: blur(10px);
}

.gamipress-rank {
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 6px 2px #00000008 !important;
}

.bb-course-item-wrap {
    border-radius: 10px 10px 0 0 !important;
}

.bb-course-items .bb-cover-list-item {
    border-radius: 10px !important;
    border: none !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 6px 2px #00000008 !important;
}

.bb-course-item-wrap {
    border-radius: 7px 7px 0 0;
}

#menu-item-6685 {
    background: black;
}

#menu-item-6685 span, #menu-item-6685 i {
    color: white;
}

#menu-item-6541 span, #menu-item-6541 i {
    color: #252525 !important;
}

.gamipress-content-restricted {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamipress-content-restricted .title {
    margin-bottom: 24px;
}

.learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage, .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol li.wpProQuiz_reviewQuestionTarget, .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol li.wpProQuiz_reviewQuestionTarget.wpProQuiz_reviewQuestionSolved, .wpProQuiz_content .wpProQuiz_reviewDiv .wpProQuiz_reviewQuestion > ol li.wpProQuiz_reviewQuestionTarget.wpProQuiz_reviewQuestionReview, .wpProQuiz_content .wpProQuiz_box > ol li.wpProQuiz_reviewQuestionTarget, .wpProQuiz_content .wpProQuiz_box > ol li.wpProQuiz_reviewQuestionTarget.wpProQuiz_reviewQuestionSolved, .wpProQuiz_content .wpProQuiz_box > ol li.wpProQuiz_reviewQuestionTarget.wpProQuiz_reviewQuestionReview, .wpProQuiz_content .wpProQuiz_results > div > .wpProQuiz_button[name="restartQuiz"], .wpProQuiz_content .wpProQuiz_resultTable table tr:nth-child(2) td:first-child:before, .wpProQuiz_sending dd.course_progress div.course_progress_blue, .bb-single-course-sidebar .btn-join, .bb-single-course-sidebar #btn-join, .bb-single-course-sidebar a.btn-advance, .btn-join, #btn-join, .ld-progress-bar .ld-progress-bar-percentage, .wpProQuiz_content .wpProQuiz_results > div > .wpProQuiz_button[name="restartQuiz"], .wpProQuiz_content .wpProQuiz_resultTable table tr:nth-child(2) td:first-child:before, .wpProQuiz_sending dd.course_progress div.course_progress_blue, .lms-topic-sidebar-progress .course-progress-bar, .bb-sfwd-aside.bb-dark-theme .lms-lesson-item.current > a .i-progress.i-progress-completed, .bb-sfwd-aside.bb-dark-theme .lms-topic-item.current > a .i-progress.i-progress-completed, .bb-sfwd-aside.bb-dark-theme .lms-quiz-item.current .i-progress.i-progress-completed, .wpProQuiz_content ul.wpProQuiz_questionList[data-type='matrix_sort_answer'] li ul.wpProQuiz_maxtrixSortCriterion li.wpProQuiz_sortStringItem.ui-sortable-helper, .wpProQuiz_content .wpProQuiz_matrixSortString .wpProQuiz_sortStringList.ui-sortable li.wpProQuiz_sortStringItem.ui-sortable-helper, .i-progress.i-progress-completed, .learndash-wrapper .learndash_content_wrap .learndash_mark_complete_button, .learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-progress, .learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage, .learndash-wrapper .ld-tabs .ld-tabs-navigation .ld-tab.ld-active:after, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button:hover, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2:hover, .learndash-wrapper .ld-file-upload .ld-file-upload-form .ld-button, .learndash-wrapper .ld-status-icon.ld-quiz-complete, .wpProQuiz_content .wpProQuiz_questionList[data-type='essay'] form input[type=file] + label, .learndash-wrapper .wpProQuiz_content input[type=radio].wpProQuiz_questionInput.bbstyled:checked + span:after, .learndash-wrapper .wpProQuiz_content input[type=checkbox].wpProQuiz_questionInput.bbstyled:checked + span, .learndash-wrapper #ld-profile .ld-item-search .ld-item-search-fields .ld-item-search-submit .ld-button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_time_limit .wpProQuiz_progress, .ld-modal.ld-login-modal .ld-login-modal-form input[type='submit'], .learndash-wrapper .ld-button, #learndash-page-content .sfwd-course-nav .learndash_next_prev_link a:hover, .wpProQuiz_questionList[data-type="assessment_answer"] .wpProQuiz_questionListItem label.is-selected:before, .wpProQuiz_questionList[data-type="single"] .wpProQuiz_questionListItem label.is-selected:before, .wpProQuiz_questionList[data-type="multiple"] .wpProQuiz_questionListItem label.is-selected:before, .learndash-wrapper .bb-ld-status .ld-status.ld-status-progress, .gamipress-restrict-content-unlock-post-with-points-button {
    background-color: #e25140 !important;
}

.learndash_join_button {
    text-transform: uppercase;
}

.gamipress-restrict-content-unlock-post-with-points-button .coins {
    margin-left: 4px;
}

.gamipress-notice-error {
    padding: 10px 0;
}

.gamipress-social-share {
    margin: 30px 0px;
}

.elementor-heading-title, .elementor-element {
    font-family: 'SF UI Display', sans-serif !important;
}

.badges .post-inner-wrap {
    display: flex !important;
}

.badges .ratio-wrap {
    width: 146px !important;
    height: 151px !important;
}

.badges .entry-media.entry-img {
    display: block !important;
    padding: 30px !important;
    background: none !important;
}

.badges .entry-img img {
    position: initial !important;
}

.badges .entry-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.badges .entry-content,
.badges .entry-header,
.badges .entry-content p {
    margin-bottom: 0px !important;
}

.post-inner-wrap, .list-wrap, .bb-about-instructor > .bb-grid {
    border: none !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    box-shadow: 0px 0px 6px 2px #00000008 !important;
}

#content {
    background: #f7f7f7;
}

.learndash-wrapper .ld-course-status.ld-course-status-enrolled,
.learndash-wrapper .ld-item-list .ld-item-list-item,
.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-list-item-preview,
.bb-single-course-sidebar .widget {
    border-radius: 10px !important;
}

.bb-course-preview-wrap {
    border-radius: 10px 10px 0 0 !important;
}

.position a {
    display: flex;
    background: white;
    border-radius: 10px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.position .column-position {
    width: 40px;
    text-align: center;
    margin-right: 20px;
}

.position .column-display_name {
    padding: 0 14px;
    width: 100%;
}

.mobile-course-cta {
    display: none;
    margin-bottom: 0 !important;
}

.mobile-course-cta .bb-button-wrap {
    padding-bottom: 0;
}

@media screen and (max-width: 820px) {
    .anchor-course-points {
        display: none;
    }

    .learndash-theme.single-sfwd-courses .learndash-wrapper .ld-item-list.ld-lesson-list .ld-section-heading .ld-item-list-actions, .learndash-theme.single-sfwd-courses .learndash-wrapper .ld-item-list.ld-lesson-list .ld-section-heading h2 {
        font-size: 22px !important;
    }

    .bb-course-members img {
        z-index: 0;
    }

    .bb-enroll-widget .bb-button-wrap {
        display: block;
        position: fixed;
        z-index: 900000000000000000;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 60px;
    }

    .mobile-course-cta {
        display: block;
        position: fixed;
        z-index: 900000000000000000;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 60px;
    }

    .bb-single-course-sidebar a.btn-advance {
        padding: 15px 19px;
        background: rgba(255, 121, 63, 1);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
        animation: pulse-orange 2s infinite;
    }

    .bb-course-banner-inner h1.entry-title {
        font-size: 32px !important;
    }

    .mobile-course-cta a.btn-advance {
        padding: 15px 19px;
        background: rgba(255, 121, 63, 1);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 1);
        animation: pulse-orange 2s infinite;
    }

    .iubenda-tp-btn[data-tp-float] {
        z-index: 0 !important;
    }
}

@keyframes pulse-orange {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
}

.entry-header {
    margin-bottom: 0px;
}

.gamipress-notification {
    background-color: #fff !important;
    padding: 25px !important;
    margin: .5rem 0 !important;
    -webkit-box-shadow: 0px 0px 20px 7px rgb(0 0 0 / 12%) !important;
    -moz-box-shadow: 0px 0px 20px 7px rgb(0 0 0 / 12%) !important;
    box-shadow: 0px 0px 20px 7px rgb(0 0 0 / 12%) !important;
    border-radius: 10px !important;
}

.gamipress-notification .gamipress-notification-title {
    margin-bottom: 10px;
}

.gamipress-notification-title {
    font-size: 20px !important;
}

.wpProQuiz_button {
    color: white !important;
}

.rating-container .filled-stars {
    color: #ffdf3e;
    white-space: nowrap;
    overflow: hidden;
}

.rating-container .filled-stars .star {
    color: #ffdf3e;
    text-shadow: none;
    -webkit-text-stroke: 0px;
}

.ratings-after-title .rating-container.rating-xs + span {
    font-size: 12px !important;
    color: #b9b9b9;
}

.elementor-5488 .elementor-element.elementor-element-22b7398 .bb-courses-header .bb-title {
    display: none;
}

#friend-list.item-list li, #members-list.item-list li, .item-list.bp-search-results-list li, .item-list.groups-list li {
    margin: 10px 0 !important;
}

#menu-item-6541 {
    background: gold;
    margin: 18px;
    border-radius: 10px !important;
    color: white;
}

#menu-item-6685 {
    background: black;
    margin: 18px;
    border-radius: 10px !important;
    color: white;
}

.gamipress-referrals-referral-url-generator {
    border: 0;
    padding: 0;
}

.gamipress-social-share-whatsapp {
    color: white;
    border-radius: 4px;
    font-size: 13px;
    padding: 16px !important;
    background: #01e675;
    margin: 20px;
    height: auto;
}

.gamipress-social-share-whatsapp a {
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 13px;
}

.gamipress-social-share-whatsapp a:hover {
    color: black;
}

.gamipress-social-share-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
